 .head {
  height: 1.2em;
  padding: 10px;
  margin: 0;
  display: block;
  font-weight: normal;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
}
.animate { transition: all .5s ease-in-out; }

.blend {
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  font-weight: normal;
  background: rgba(91, 160, 239,0.8);
  color: #fff;
  transition-duration: .4s;
}